=stylesheet_link_tag 'kebapress/medium-editor.css'
=javascript_include_tag 'kebapress/medium-editor'

= form_for @post do |f|
  = f.text_field :title
  = f.hidden_field :body, html: { id: "body" }
  .body.editable{data: {field: {id: "body"}}}
  = f.check_box :published_at, {class: 'checkbox'}, Time.now, nil
  = label_tag :published_at, "Publish Now"
  %br
  = f.submit

=javascript_include_tag 'kebapress/posts'
