%h1= "Blog Dashboard"

.posts
  %h2= "Posts"
  - @posts.each do |post|
    = link_to post.title, post_path(post)
    = link_to "(Edit)", edit_post_path(post)
    = link_to "(Delete)", post_path(post), method: :delete
    %br
  %br
  = link_to "New Post", new_post_path

.categories
  %h2= "Categories"
  - @categories.each do |category|
    = link_to category.title, category_path(category)
    %br
