%h1= "Blog Dashboard"

%h2= "Posts"
- @posts.each do |post|
  = link_to post.title, post_path(post)
  %br

%h2= "Categories"
- @categories.each do |category|
  = link_to category.title, category_path(category)
  %br
