= link_to I18n.t('kebapress.new_post'), new_post_path, method: :get, class: 'btn btn-default btn-success pull-right'
%br
%br
.panel.panel-default.grid
  .panel-heading
    %i.icon-table.icon-large
    #{I18n.t('kebapress.posts')}

  %table.table
    %thead
      %tr
        %th #
        %th #{I18n.t('kebapress.title')}
        %th.actions
          #{I18n.t('kebapress.action')}

    %tbody.success
      - @posts.each do |post|
        %tr
          %td
            = (@posts.index post) + 1
          %td
            = post.title
          %td.action
            %a.btn.btn-success{href: post_path(post), data: {toggle: 'tooltip'}, title: I18n.t('kebapress.show')}
              %i.icon-zoom-in
            %a.btn.btn-info{href: edit_post_path(post)}
              %i.icon-edit
            = link_to post_path(post), method: :delete, data: { confirm: I18n.t('kebapress.ru_sure') }, class: 'btn btn-danger' do
              %i.icon-trash

= link_to I18n.t('kebapress.new_category'), new_category_path, method: :get, class: 'btn btn-default btn-success pull-right'
%br
%br
.panel.panel-default.grid
  .panel-heading
    %i.icon-table.icon-large
    #{I18n.t('kebapress.categories')}

  %table.table
    %thead
      %tr
        %th #
        %th #{I18n.t('kebapress.title')}
        %th.actions
          #{I18n.t('kebapress.action')}

    %tbody.success
      - @categories.each do |category|
        %tr
          %td
            = (@categories.index category) + 1
          %td
            = category.title
          %td.action
            %a.btn.btn-info{href: edit_category_path(category)}
              %i.icon-edit
            = link_to category_path(category), method: :delete, data: { confirm: I18n.t('kebapress.ru_sure') }, class: 'btn btn-danger' do
              %i.icon-trash