=stylesheet_link_tag 'kebapress/medium-editor.css'
=javascript_include_tag 'kebapress/medium-editor'

= form_for [:hq, @post] do |f|
  = f.label :title
  = f.text_field :title
  = f.hidden_field :body, html: { id: "body" }
  .body.editable{data: {field: {id: "body"}}}
  = f.label :tags
  = f.text_field :tag_list
  .checkbox
  = check_box :post, :published, {}, true, false
  %label= "Publish Now"
  %br
  = check_box :post, :commentable, {}, true, false
  %label= "Commentable"
  %br
  = f.submit

=javascript_include_tag 'kebapress/posts'
